version: '2.1'

# Run: docker-compose --project-name=ocean up

services:
  mongodb:
    image: mongo:3.6
    ports:
    - "27017:27017"
    command: mongod
    networks:
    - backend

  bigchaindb:
    depends_on:
    - mongodb
    image: bigchaindb/bigchaindb:2.0.0-beta1
    environment:
      BIGCHAINDB_DATABASE_BACKEND: localmongodb
      BIGCHAINDB_DATABASE_HOST: mongodb
      BIGCHAINDB_DATABASE_PORT: 27017
      BIGCHAINDB_SERVER_BIND: 0.0.0.0:9984
      BIGCHAINDB_WSSERVER_HOST: 0.0.0.0
      BIGCHAINDB_WSSERVER_ADVERTISED_HOST: bigchaindb
      BIGCHAINDB_TENDERMINT_HOST: tendermint
      BIGCHAINDB_TENDERMINT_PORT: 46657
    ports:
    - "9984:9984"
    - "9985:9985"
    - "46658"
    healthcheck:
      test: ["CMD", "bash", "-c", "curl http://bigchaindb:9984 && curl http://tendermint:46657/abci_query"]
      interval: 3s
      timeout: 5s
      retries: 3
    networks:
    - backend

  tendermint:
    depends_on:
    - bigchaindb
    image: tendermint/tendermint:0.19.9
    # volumes:
    #   - ./tmdata:/tendermint
    entrypoint: ''
    ports:
    - "46656:46656"
    - "46657:46657"
    command: sh -c "tendermint init && tendermint node --consensus.create_empty_blocks=false --proxy_app=tcp://bigchaindb:46658"
    networks:
    - backend

  keeper-contracts:
    image: oceanprotocol/keeper-contracts
    ports:
    - 8545:8545
    networks:
    - backend
    volumes:
    - ./artifacts/:/keeper-contracts/artifacts/

  provider-backend:
    image: oceanprotocol/provider-backend
    ports:
    - 5000:5000
    networks:
    - backend
    depends_on:
    - keeper-contracts
    volumes:
    - ./artifacts/:/usr/local/contracts/

  pleuston:
    image: oceanprotocol/pleuston
    ports:
    - 3000:3000
    depends_on:
    - keeper-contracts
    volumes:
    - ./artifacts/:/pleuston/node_modules/@oceanprotocol/keeper-contracts/build/contracts/

networks:
  backend:
